body,html{
    margin:0;
    padding:0;
}

main {
    background-color: #212529;
}

section {
    background-color: #212529;
}

section p, h1, h2, h3, h4, h5, h6, a {
    color: white;
}

section .img-fluid {
    width: auto;
    max-height: 8rem;
    
}

@media (max-aspect-ratio: 9/10 ) {
.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  

  transform: translateZ(-1px) scale(2.5);
  background-size: 100%;
  z-index: -1;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1.2px;
}

.parallax-section {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFAA5A;
  color: #FFAA5A;
}

.parallax {
    background-color: rgba(255,255,255,0);
}



.bg1::after {
  width: 100%;
  background-image: url('../img/roboclash_bg_left.png'),
  url('../img/roboclash_bg_right.png'),
  url('../img/poster_bg.jpg');
  background-position: 10% 30%,90% 30%,center;
  background-repeat: no-repeat;
  background-size: 35%,35%,cover;
}

}

@media (min-aspect-ratio: 9/10) {
.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  

  transform: translateZ(-1px) scale(2.5);
  z-index: -1;
}

.wrapper {
  height: 100vh;
  width:  100vw;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 0.75px;
}

.parallax-section {
  position: relative;
  height: 80vh;
    
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFAA5A;
  color: #FFAA5A;
}

.parallax {
    background-color: rgba(255,255,255,0);
}



.bg1::after {
  background-image: url('../img/roboclash_bg_left.png'),
  url('../img/roboclash_bg_right.png'),
  url('../img/poster_bg.jpg');
  background-position: left,right,center;
  background-repeat: no-repeat;
  background-size: contain,contain,cover;
}
}


.masthead h1{
  text-shadow: 3px 3px #000;
} 
.masthead p{
  text-shadow: 2px 2px #000;
} 

#prizes{
  background-image: url('../img/switch.png');
  background-position: 95% 90%;
  background-repeat: no-repeat;
  background-size: 20%;
}